/*============================
==== WEDDING ================
============================*/
.wedding {
	color: gray;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.cartographer {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-flex;
}

/*============================
==== NAVBAR ================
============================*/

.navbar {
	width: 100%;
	display: inline-table;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: .9s;
	position: fixed;
	top: 0;
	left: 0;


}
.leftTextBox {
	font-family: 'Dorsa', sans-serif;
	font-family: 'Dawning of a New Day', cursive;
	font-family: 'Meddon', cursive;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-family: 'Miss Fajardose', cursive;
	font-family: 'Sacramento', cursive;
	color: white;
	transition: .5s;
	display: inline-flex;
	float: left;

}
.navButton {
	background-color: rgba(107, 209, 194, 1);
	columns: darkgray;
	border-radius: 6px;
	font-size: 48px;
	font-family: 'Dorsa', sans-serif;
	font-weight: 600;
	margin: 6px;
	padding: 12px;
	max-width: 120px;
	display: inline-block;
}
.navButton:hover {
	cursor: pointer;
	color: white;
	background-color: rgba(22, 70, 63, 1);
	box-shadow: 10px 10px 18px #888888;

}
.navUser {
	float: right;
	margin: 12px;
	padding: 4px;
	border: solid white 2px;
	border-radius: 3px;
	display: inline-flex;
	
	float: right;
	transition: .5s;

	background-color: rgba(184, 184, 184, 0.8);
	color: rgba(46, 46, 46, 1);
	opacity: .8 !important;
}
.navUser:hover {
	background-color: rgba(184, 184, 184, 1);
	color: rgba(18, 18, 18, 1);
	cursor: pointer;
}
.navButtonText {
	font-family: 'Oswald', Georgia, sans-serif;
	display: inline-table;
	margin-left: 6px;
	margin-right: 4px;
}
.navIconMarginBottom {
	margin-bottom: 7px;
}
.mIcons {
	display: inline-table;
	vertical-align: middle;
}
.whiteIcon {
	color: rgba(255, 255, 255, 1);
}
.material-icons.md-light { 
	color: rgba(255, 255, 255, 1); 
}

.sidebarTrigger {
	float: right;
	padding: 4px;
	margin: 12px;
	background-color: rgba(120, 120, 120, .8);
	color: white;	
	border: solid white 2px;
	border-radius: 3px;
	display: inline-flex;
	transition: .5s;
	opacity: .8;
}
.sidebarTrigger:hover {
	background-color: rgba(120, 120, 120, 1);
	cursor: pointer;
}

/*============================
======= MENUBAR ================
============================*/
.menubar {
	opacity: .86;
}

.itemText {
	padding: 0;
}

.menuHeader {
	background-color: gray !important;
}



/*============================
======= MAIN ================
============================*/

.main {
	width: 100%;
	margin: 0;

}
.mainTextLarge {
	font-family: 'Miss Fajardose', cursive;
	font-family: 'Sacramento', Georgia;
	color: white;
	margin: 0;
	padding-top: 240px;
	display: inline-flex;
	transition: .5s;
}

.imageBox {
	width: 100%;
	height: 100vh;
	display: block;
	top: 0;
	left: 0;
	background-attachment: fixed; 
}
.imageBox2 {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-attachment: fixed; 
	display: block;
}
.imageBox3 {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	display: block;
}
.imageBox4 {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	display: block;
}
.imageBox5 {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-attachment: fixed; 
	display: block;
}
.imageBox6 {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	display: block;
}
.imageBox7 {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('./assets/observationPoint.jpg');
	background-size: cover;
	background-attachment: fixed; 
	display: block;
}
.downArrowRow {
	justify-content: center;
	margin-top: -240px;
	position: relative;
}
.downArrow {
	width: 72px;
	margin: 0 auto;
	position: absolute;
}
.bigRow {
	top: 0;
	left: 0;
	background-color: white;
	display: block;
	box-shadow: -10px 0px 40px 40px hsla(360, 100%, 100%, 1);

	padding: 100px 0 0 0;

}
.bigRow2 {
	top: 0;
	left: 0;
	background-color: white;
	display: block;
	padding: 0 0 0 0;
/* 	box-shadow: 0 0px 16px 4px gray;
 */
}

.header {
	font-family: 'Pacifico', sans;
/* 	font-weight: 500; */
	color: rgba(102, 0, 87, 1);
	margin: 60px 0 0 0;
	padding: 12px;
}
.gettingMarriedText {
/* 	color: rgba(158, 0, 92, 1); */
	color: rgba(128, 0, 108, 1);
	font-family: 'Montez', sans-serif;
	margin: 210px auto 48px auto;
	text-align: center;
	padding: 12px 0;
}
.header2 {
	font-family: 'Megrim', cursive;
	font-weight: 700;
	color: rgba(59, 32, 60, 1);
	margin: 120px 0 0 0;
	padding: 12px;
}
.bajoHeader {
	color: rgba(31, 31, 31, 1);
	width: 100%;
	margin: 24px 0 0 0;
	padding: 12px 0;
}
.bajoHeaderFont {
	font-family: 'Sacramento', cursive;
}
.smallCategoryHeaderFont {
	font-family: 'Poiret One', sans;
	font-weight: 900;
}
.smallText {
	font-family: "Montserrat", sans-serif;
	color: rgba(36, 36, 36, 1);
	width: 100%;
}
.smallText1 {
	font-family: "Montserrat", sans-serif;
	color: rgba(36, 36, 36, 1);
	margin: 6px 0 0 0;
	padding: 0px;
}
.smallText2 {
	font-family: "Montserrat", sans-serif;
	color: rgba(36, 36, 36, 1);
	width: 100%;
	min-height: 1.25em;
	margin-bottom: 8px;
}
.mediumText {
	font-family: "Montserrat", sans-serif;
	color: rgba(36, 36, 36, 1);
	width: 100%;
}
.alignCenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.alignTextCenter {
	text-align: center;
	margin: auto;
}
.fatMarginBottom {
	margin-bottom: 60px;
}
.thinMarginBottom {
	margin-bottom: 30px;
}
.skinnyMarginBottom {
	margin-bottom: .75em !important;
}
.smallMarginRight {
	margin-right: 12px;
}
.mediumMarginLeft {
	margin-left: 100px;
}
.fatHorizSpacer {
	width:  100%;
	height: 1px;
	margin-bottom: 60px;
}
.thinHorizSpacer {
	width:  100%;
	height: 24px;
}
.maxW300 {
	max-width: 290px !important;
}
.missF {
	font-family: "Miss Fajardose", sans !important;
}
.sacramento {
	font-family: "Sacramento", sans !important;
}
.roboto {
	font-family: "Roboto", sans;
}
.bold {
	font-weight: 700;
}
.italic {
	font-weight: 300;
	font-style: italic;
}
.normalWeight {
	font-weight: 400;
}
.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}
.inline {
	display: inline;
}
.flex {
	display: flex;
}
.inlineTable {
	display: inline-table;
}
.centerHoriz {
	margin: 0 auto !important;
}
.noDec {
	text-decoration: none;
}
.purplish {
	color: rgba(102, 0, 87, 1);
}
.justABorder {
	border: solid gray 1px;
	border-radius: 4px;
	margin: 6px 6px 6px 0;
	padding: 8px 12px;
	width: auto !important;
}
.justASpace {
	width: 10px !important;
	height: 1px;
}
.mediumGray {
	color: rgba(56, 56, 56, 1);
}
.joinUs {
	max-width: 850px;
}
.emailAddress {
	color: rgba(102, 0, 87, 1);
	display: inline;
	margin: 0 6px;
}
.emailAddress:hover {
	cursor: pointer;
}
.linkAway {
	display: inline;
	color: rgba(102, 0, 87, 1);
	transition: .125s;
}
.linkAway:hover {
	cursor: pointer;
	color: rgba(146, 101, 159, 1);
}
.mapsButton {
	background: blue;
	color: white;
	width: auto;
	font-family: "Montserrat", sans;
	border-radius: 4px;
	padding: 8px 12px 8px 16px;
	margin: 20px 0;
	transition: .125s;
	box-shadow: 4px 6px 20px 0px darkgray;
}
.mapsButton:hover {
	cursor: pointer;
	background: green;
	box-shadow: 2px 3px 20px -6px darkgray;
}
.linkAwayHeader {
	display: inline;
	color: rgba(36, 36, 36, 1);
}
.linkAwayHeader:hover {
	cursor: pointer;
	color: rgba(84, 84, 84, 1);
}
.loginButton {
	box-shadow: 4px 6px 20px 0px darkgray;
	transition: .125s;
}
.loginButton:hover {
	cursor: pointer;
	box-shadow: 5px 7px 20px -6px;
	background: #437284 !important;
}
.loginButton:active {
	cursor: pointer;
	box-shadow: 0px 0px 4px -4px;
	background: #26404b !important;
}
.footer {
	margin: 0px auto;
	padding: 32px 0;
	width: 100vw;
	text-align: center;
	color: white;
	font-family: "Montserrat", sans;
	background: rgba(54, 54, 54, 1);
	box-shadow: 0 0px 16px 3px gray;
}


/*============================
==== RSVP ================
============================*/

.nameItem {
	min-width: 180px;
}

.noShadow {
	border-radius: 0px !important;
	box-shadow: none !important;
}
.charcoalBackground {
/* 	background: rgba(72, 72, 72, 1)
 */}