.Orngard {

}

.orngardHeader {
	font-family: "Poiret One", sans-serif;
	color: darkgray;
	display: inline-block;
}
.IPA {
	display: inline-block;
	font-family: "Poiret One", sans-serif;
	text-decoration: none; 
	color: black;
}
.IPA:hover {
	cursor: pointer;
	color: gray;
}
.orngardSubheader {
	color: #383838;
}
.rerouteCard {
	background-color: #383838;
	border-radius: 4px;
	box-shadow: 6px 14px 36px #383838;
}
.asterisk {
	color: pink !important;
	font-size: 64px !important;
	margin: -10px 0 0;
	display: inline-table !important;
}
.rerouteCardSubContainer {
	display: inline-table;
	max-width: 84%;
	margin: -4px 0 0 12px;
}
.rerouteText {
	font-family: "Poiret One", Geneva, sans-serif;
	color: white;
}
.rerouteButton {
	font-family: "Dorsa", Verdana, sans-serif;
	border-radius: 4px;
	background-color: rgba(107, 209, 194, 1);
	color: white;
	transition: .1s;
}
.rerouteButton:hover {
	background-color: rgba(41, 133, 119, 1);
}